body {
    padding: 0;
    margin: 0;
    background: #f2f6e9;
}
.navbar {
    background:#5c636a;
}
.nav-link,
.navbar-brand {
    color: #fff;
    cursor: pointer;
}
.nav-link {
    margin-right: 1em !important;
}
.nav-link:hover {
    color: #000;
}
.navbar-collapse {
    justify-content: flex-end;
}
.features {
    margin: 4em auto;
    padding: 1em;
    position: relative;
}
.features .form-control,
.features input {
    border-radius: 0;
}
.features .btn {
    background-color: #589b37;
    border: 1px solid #589b37;
    color: #fff;
    margin-top: 20px;

}
.features .btn:hover {
    background-color:#323539 ;
    border: 1px solid #333;
}

.btn:hover {
    background-color:#323539 ;
    border: 1px solid #333;
}
 #customFile .custom-file-control::after {
     content: "Select file...";
 }

#customFile .custom-file-control::before {
    content: "Click me";
}

#customFile .custom-file-control:lang(es)::after {
    content: "Seleccionar archivo...";
}

#customFile .custom-file-control:lang(es)::before {
    content: "Seleccionar";
}

.custom-file-control.selected:lang(en)::after {
    content: "" !important;
}

.custom-file {
    overflow: hidden;
}
.custom-file-control {
    white-space: nowrap;
}

