<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <title>Devolver Documentos</title>
    <meta charset="ISO-8859-1"/>
    <meta charset="utf-8">
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>

    <!-- Los iconos tipo Solid de Fontawesome-->
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>


    <link rel="stylesheet" type="text/css" href="/static/css/main.css" th:href="@{/css/main.css}"/>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <script type="text/javascript">
        $(function() {
            $("#client").autocomplete({
                source: "clientNamesAutocomplete",
                minLength: 1,
                select: function(event, ui) {
                    this.value = ui.item.label;
                    $("#codigoClient").val(ui.item.value.id);
                     $("#direccionClient").val(ui.item.value.direccion);
                    return false;
                }
            });
        });
    </script>
    <script type="text/javascript">
        $(function() {
            $("#codigoClient").autocomplete({
                source: "clientIdAutocomplete",
                minLength: 1,
                select: function(event, ui) {
                    this.value = ui.item.label;
                    $("#client").val(ui.item.value.nombre);
                     $("#direccionClient").val(ui.item.value.direccion);
                    return false;
                }
            });
        });
    </script>

</head>
<body>

<div th:replace="navBar :: navbar">

</div>


<form class="container features" th:action="@{/devolver}" th:object="${devolverFormView}" method="post">
    <br>
    <h1 class="feature-title">Introduce Cliente</h1>
    <form id="bookForm">
        <div class="form-group">
            <h4>ID</h4>
            <input id="codigoClient" name="id" required="riquired" type="text" class="form-control" placeholder="ID CLIENTE"
                   th:field="*{id}">
        </div>
        <div class="form-group">
            <h4>Nombre</h4>
            <input id="client" required="riquired" type="text" class="form-control" placeholder="NOMBRE CLIENTE"
                   th:field="*{name}">
        </div>
        <button type="submit" class="btn btn-secondary btn-block" name="createAlta">LISTAR DOCUMENTOS</button>
    </form>
</form>
</body>
</html>