<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <title>Editar Relacion</title>
    <meta charset="ISO-8859-1"/>
    <meta charset="utf-8">
    <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>

    <!-- Los iconos tipo Solid de Fontawesome-->
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>


    <link rel="stylesheet" type="text/css" href="/static/css/main.css" th:href="@{/css/main.css}"/>

</head>
<body>
<div th:replace="navBar :: navbar">

</div>

<form class="container" th:action="@{/confirmar-editar-relacion}" th:object="${relacionClienteFormView}" method="post">
    <br>
    <h1 class="feature-title">Editar RELACION</h1>
    <form id="bookForm">
        <div class="form-group">
            <h3>Relacion ID</h3>
            <input name="relacionId" id="id" required="riquired" type="textro" class="form-control" placeholder="Id" th:value="${relacionClienteFormView.relacionId}" readonly="">
        </div>
        <div class="form-group">
            <h3>Nombre</h3>
            <input id="relacionNombre" name="relacionNombre" required="riquired" type="text" class="form-control" placeholder="Nombre "
                   th:value="${relacionClienteFormView.relacionNombre}">
        </div>

         <button  class="btn btn-secondary btn-block btn-success" name="createAlta">CONFIRMAR</button>
    </form>
    <br>
    <button  class="container btn btn-secondary btn-block btn-danger" name="createAlta" data-toggle="modal" data-target="#exampleModalCenter">---ELIMINAR---</button>
    <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title" id="exampleModalLongTitle">!Aviso!</h3>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h5>Confirmar que quieres eliminar</h5>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <form th:action="@{/eliminar-relacion}" th:object="${relacionClienteFormView}"method="post" >
                        <input type="hidden" name="relacionId" id="id2" required="riquired" class="form-control" placeholder="Id" th:value="${relacionClienteFormView.relacionId}" >
                        <button type="submit" class="btn btn-secondary btn-block btn-danger" name="createAlta">ELIMINAR</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</form>
</body>
</html>
